bencode.py>=2.0.0 # bencode
ctypes-windows-sdk>=0.0.12
genutility[image,pillow,videofile,rich,torrent]>=0.0.103
libtorrent>=2.0.5
metrictrees
metrohash-python
mutagen
Pillow>=9.1.0
pyexiv2
pymongo
pypyodbc
pywin32
requests
rich
send2trash
